﻿@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-xl-11 col-lg-7">
        <div class="card shadow mb-4" style="height: @(Model[0].Klaster.Samples.Count*30)rem;">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Виборка</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Дії:</div>
                        <a class="dropdown-item" href="#" onclick="OpenDialog()">Зчитати з файлу</a>
                        @*<a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>*@
                    </div>
                </div>
            </div>
            <div class="card-body">
                @*<div id="chartdiv"></div>*@
                @for (int i = 0; i < Model[0].Klaster.Samples.Count; i++)
                {
                    <canvas id="chartdiv_@i" style="height: @Math.Round((1d/(double)Model[0].Klaster.Samples.Count)*100d)%;"></canvas>

                }
            </div>
        </div>
    </div>
</div>
<script>
    @*console.log("@Model[0].Klaster.Samples.Count")
    am4core.ready(function () {
                    @for (int i = 0; i < Model[0].Klaster.Samples.Count; i++)
                    {
                        <text>
        var chart_@(i) = am4core.create("chartdiv_@i", am4charts.XYChart);

        chart_@(i).data = [
    @for (int j = 0; j < Model[0].Klaster.Samples[i].NAmount; j++)
    {
@:        {
@:        "y":@Convert.ToString( Model[0].Klaster.Samples[i].Ni[j]).Replace(',','.'),
@:        "x":@Convert.ToString(Model[0].Klaster.Samples[i].Axis[j]).Replace(',', '.')
@:        },
    }
        ];
    @for (int j = 0; j < Model[0].Klaster.Samples[i].Smooth.Count; j++)
    {
@:                   chart_@(i).data.push({
@:                              "x": @Convert.ToString(Model[0].Klaster.Samples[i].Smooth[j].x).Replace(',', '.'),
@:                             "y":@Convert.ToString(Model[0].Klaster.Samples[i].Smooth[j].y).Replace(',', '.')});
    }

        var categoryAxis_@(i) = chart_@(i).xAxes.push(new am4charts.CategoryAxis());
        categoryAxis_@(i).dataFields.category = "x";
        categoryAxis_@(i).renderer.grid.template.location = 0;
        categoryAxis_@(i).renderer.minGridDistance = 30;
                            categoryAxis_@(i).startLocation= @Convert.ToString(Model[0].Klaster.Samples[i].XMin).Replace(',', '.');
                            categoryAxis_@(i).endLocation= @Convert.ToString(Model[0].Klaster.Samples[i].XMax).Replace(',', '.');

        categoryAxis_@(i).renderer.grid.template.location = 0;
        categoryAxis_@(i).renderer.minGridDistance = 30;

    var valueAxis_@(i) = chart_@(i).yAxes.push(new am4charts.ValueAxis());
    valueAxis_@(i).dataFields.category = "y";
                        // Create series
    var series_@(i) = chart_@(i).series.push(new am4charts.StepLineSeries());
    series_@(i).dataFields.valueY = "y";
    series_@(i).dataFields.categoryX = "x";
    series_@(i).name = "value";
    series_ @(i).columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/]";
    series_ @(i).columns.template.fillOpacity = .8;
    series_ @(i).xAxes=categoryAxis_@(i);



    var LineSeries_@(i) = chart_@(i).series.push(new am4charts.ColumnSeries());
    LineSeries_@(i).dataFields.categoryX = "x";
    LineSeries_@(i).dataFields.valueY  = "y";
    LineSeries_@(i).name = "Line";

    LineSeries_@(i).stroke = am4core.color("#fdd400");
    LineSeries_@(i).strokeWidth = 3;
    LineSeries_@(i).propertyFields.strokeDasharray = "lineDash";
    LineSeries_@(i).tooltip.label.textAlign = "middle";
                        //LineSeries_@(i).xAxes = categoryAxis2_@(i);

                        var columnTemplate_@(i) = series_@(i).columns.template;
    columnTemplate_@(i).width = am4core.percent(100);
    columnTemplate_@(i).strokeWidth = 2;
    columnTemplate_@(i).strokeOpacity = 1;

    chart_@(i).scrollbarX = new am4core.Scrollbar();
        </text>
                        }
    });*@

</script>
<script>
    const labels = Utils.months({ count: 7 });
    const DATA_COUNT = 7;
    const NUMBER_CFG = { count: DATA_COUNT, rmin: 1, rmax: 1, min: -100, max: 100 };
    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Dataset 1',
                data: Utils.bubbles(NUMBER_CFG),
                borderColor: Utils.CHART_COLORS.red,
                backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
                yAxisID: 'y',
            },
            {
                label: 'Dataset 2',
                data: Utils.bubbles(NUMBER_CFG),
                borderColor: Utils.CHART_COLORS.orange,
                backgroundColor: Utils.transparentize(Utils.CHART_COLORS.orange, 0.5),
                yAxisID: 'y2',
            }
        ]
    };
    const config = {
        type: 'scatter',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Scatter Multi Axis Chart'
                }
            },
            scales: {
                y: {
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    position: 'left',
                    ticks: {
                        color: Utils.CHART_COLORS.red
                    }
                },
                y2: {
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    position: 'right',
                    reverse: true,
                    ticks: {
                        color: Utils.CHART_COLORS.blue
                    },
                    grid: {
                        drawOnChartArea: false // only want the grid lines for one axis to show up
                    }
                }
            }
        },
    };
    @for (int i = 0; i < Model[0].Klaster.Samples.Count; i++)
    {
        <text>
    var myChart = new Chart(
        document.getElementById('chartdiv_@(i)'),
        config
    );
    </text>
    }
</script>